language: node_js
node_js:
- node
deploy:
  provider: heroku
  api_key:
    secure: aimsJolPMYEBxxb9tge2N18zshUxVFf1xeHhdAOSe81/UvBgHCxkzBJI50nUB6uhvahx0U9YhQQMQrNEPDA7tCjNMOuSPtv3xSLKNlT62KsYiBPT5Uq26DbDIBYRCCanMDwo4VA6aVju4bqcaSvVtUsR8ZbW9DJsMy6d3OIXtioDxxAic5y/qP6/Yoc6dQ+ycbHx1Ym72qJZaXYjN+WMyCmmZRTXWeok5YKR87Yj2U0+v4ah0C+PPev52iZ5HCWTm/xKKVqfrTe8vKK64x8gW7WgGLErzz1hKJmw4MgT0+KZEb3TfsvLe+Upw7ru9nIdBalmEh6HCrrITpPB3DQmkgfeqBWwqO4f0X/4E7quMT810G/WiTRRnC2edLA9Bol9u2yekwkcHfHFKhvwZXhhJkfSMqxBsi3AyHYX2hELzxA5C1wKAKPYoI/UKxUG8RbeyDn9nqy2gOaIab+WERhjgx0lcYwMWuZLXMdVkgYZIqcYGJr+1NQyl8XlDE/VSJIAfM+ylHPlhMecj1crH+QC65YJIi4m+mnv+s/Vg1aAOe1PPF5R9rkxXRrLCuz1zyduEgLpyNRHZ5W7+Mbza3t63vQXhDOWFFeAwQyrLb0GRYf1raxGwOmTMJLrz5xwNrV1kJgsKdF2EuzWY1nWqqgaXzLVmm/1yq0khhAv5Py0Mag=
  app: express-reference
  on:
    repo: primaulia/express-reference
